job_err_SliceSense
job_out_SliceSense

job_err_SliceSense/*
job_out_SliceSense/*

SliceSense.sh
submit_SliceSense.sh

checkpoints
checkpoints/*

unified_processing.log

SliceSense_Unified_Dataset
SliceSense_Unified_Dataset/*